
<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm ">

  <!-- Links -->
  <ul class="navbar-nav " style="text-decoration: none;">
    <li class="nav-item ">
      <a class="nav-link text-dark" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="proyectos">Proyectos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="quienes">Quienes somos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="contacto">Contacto</a>
    </li>
  </ul>

</nav>
<router-outlet></router-outlet>

